img.flag{
  border: 10px solid white;
  float: right;
  width: 100%;
  height: auto;
}

div.dates{
  float: left;
  width: 200px;
  text-transform: uppercase;
}

div.location{
  float: left;
  width: 400px;
  text-transform: capitalize;
}

body{
  margin-left: 5%;
  margin-right: 5%;
  padding: 5%;
  font-size: 25px;
  font-family: monospace;
  color: white;
  background-color: black;
}